#icon-container {
    background-color: white;
    width: 100vw;
    height: 100vh;
    text-align: center;
    vertical-align: middle;
}

#icon {
    position: absolute;
    margin-left: -50vw;
    margin-top: -25vw;
    font-size: 50vw;
    width: 2em;
    height: 2em;
    top: 50%;
    left: 50%;
}