.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;    
  }

#icon-container {
    background-color: white;
    width: 100vw;
    height: 100vh;
    text-align: center;
    vertical-align: middle;
}

#icon {
    position: absolute;
    margin-left: -50vw;
    margin-top: -25vw;
    font-size: 50vw;
    font-family: sans-serif;
    width: 2em;
    height: 2em;
    top: 50%;
    left: 50%;
}

#icon img {
    width: 60%;
}